<div class="col-md-6 offset-md-3 mt-5">
        <div class="card-body">
            <form [formGroup]="blogForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label class="form-label">Заголовок</label>
                    <input nz-input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Заголовок объязательно</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Тело</label>
                    <textarea nz-input type="text" formControlName="body" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.body.errors }">
                    </textarea>
                    <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                        <div *ngIf="f.body.errors.required">Пароль объязательно</div>
                    </div>
                </div>
                <button nz-button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Добавить
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
    </div>
</div>