
<input type="text" name="message" [(ngModel)]="message">
<button (click)="send()">Отправить</button>
<div *ngFor="let income of signalRService.allMessages">
    {{income.username}} -
    {{income.message}}
</div>