

  <nz-list nzItemLayout="horizontal">
    <nz-list-item *ngFor="let item of blogs">
      <nz-list-item-meta
        nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        [nzDescription]="item.name"
      >
        <nz-list-item-meta-title>
          <a href="https://ng.ant.design">{{ item.body }} </a>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
    </nz-list-item>
  </nz-list>