﻿<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Домой</a>
        <a class="nav-item nav-link" routerLink="/chat" routerLinkActive="active">Чат</a>
        <a class="nav-item nav-link" routerLink="/weather" routerLinkActive="active">Погода</a>
        <button class="btn btn-link nav-item nav-link" (click)="logout()">Выйти</button>
    </div>
</nav>

<!-- main app container -->
<div class="container">
    <router-outlet></router-outlet>
</div>
