﻿<div class="card mt-4">
    <h4 class="card-header py-3">Вы успешно вошли в систему!</h4>
    <div class="card-body">
        <h6>Список пользователей</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="users">
            <li *ngFor="let user of users">{{user.firstName}} {{user.lastName}}</li>
        </ul>
    </div>
</div>
<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Добавить запись</span></button>
    <nz-modal [(nzVisible)]="isVisible" nzTitle="Добавить запись" 
    [nzFooter]="null" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <app-add-blog (onOk)="handleCancel()"></app-add-blog>
      </ng-container>
    </nz-modal>

<app-blog-feed></app-blog-feed>